[submodule "Material/Micro-Wheeled_leg-Robot"]
	path = Material/Micro-Wheeled_leg-Robot
	url = https://github.com/MuShibo/Micro-Wheeled_leg-Robot.git
[submodule "Material/Dummy-Robot"]
	path = Material/Dummy-Robot
	url = https://github.com/peng-zhihui/Dummy-Robot.git
